body {
    padding: 20px;
    background-image: linear-gradient(45deg, #f8b8fb 0%, #6fdaf7 52%, #7af0a1 90%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
}
.headerText{
    width: 250px;
    background-color: rgba(240, 248, 255, 0.773);
    border-radius: 10px;
    
}
.Expense{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center
    
}
.bal{
    background: #8c6bf7dc;
    width: 110px;
    height: 20px;
    font-weight: 800;
    font-size: large;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px 0px rgb(0, 0, 0);

}
.inc{
    background: #10f918;
    width: 110px;
    height: 20px;
    font-weight: 800;
    font-size: large;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px 0px rgb(0, 0, 0);

}
.exp{
    background: #f82020b5;
    width: 110px;
    height: 20px;
    font-weight: 800;
    font-size: large;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px 0px rgb(0, 0, 0);

}
form input{
    margin: 5px;
    border-radius: 10px;
    height: 30px;
    border: none;
    background: #ffffff45;
    box-shadow: inset 0px 0px 5px 0px rgb(0, 0, 0);
    
}
form button{
    margin: 10px;
    height: 25px;
    width: 100px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0px 0px 5px 0px rgb(0, 0, 0);

}
.inBtn{
    background: #11fb09;
}
.exBtn{
    background: #fa0a0a;
}
.transList{
    padding: 20px;
    background: #fcf9f981;
    border-radius: 20px;
    box-shadow: inset 0px 0px 5px 0px rgb(0, 0, 0);


}
.income{
    background: #0eec426e;
    list-style-type: none;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px 0px rgb(0, 0, 0);

    
}
.expense{
    background-color: #ec1d0e59;
    list-style-type: none;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px 0px rgb(0, 0, 0);

}
ul li button{
    border: none;
    float: right;
    background: none;
    /* position: relative; left:20px; top:0px; */
}